p {
  color: green;
  background-color: orange;
}
h1 {
  font-size: 32px;
  background-color: yellow;
}
body {
  background color: #242f43;
  color: blue;
}
footer {
  margin-top: 45px;
  text-align: rigt;
}
header {
  text-align: left;
  margin-top: 7px;
}
ol {
  font-size: 18px;
  font-weight: bold;
}
ul {
  list-style: square;
  color: pink;
}
